# Firebase
# Add your google-services.json to android/app/
# Add your GoogleService-Info.plist to ios/Runner/

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_UPLOAD_PRESET=your_upload_preset
CLOUDINARY_PROFILE_UPLOAD_PRESET=your_profile_preset name


# Google Cloud Vision API (Optional for higher accuracy)
CLOUD_VISION_API_KEY=your_google_cloud_vision_api_key

# App Environment
APP_ENV=development
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=Secret
